body {
    background-color: rgb(147, 153, 172);
}

h1 {
    font-family: cursive;
    text-align: center;
}

p {
    text-align: center;
}
form {
    text-align: center;
}

button {
    background-color: #0c0d0e; 
    border-color: aliceblue;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 1%;
    cursor: pointer;
}

input {
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
    text-align: center;
  }
 
  label {
    color: #17156d;
    font-weight: bold;
    display: block;
  }

  #grad1 {
    height: 500px;
    background-color: rgb(132, 133, 139); 
    background-image: linear-gradient(to bottom right, rgb(77, 111, 173), rgb(39, 33, 124));
  }




